body {
    background: rgb(9, 159, 89);
}

header {
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.resultado {
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 2%;
}

.opciones {
    text-align: center;
    margin: 50px 0;
    padding: 2%;
}

.opcion {
    width: 100px;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    padding: 2%;
}

.opcion:hover {
    background-color: rgb(6, 118, 133);
    cursor: pointer;
    border-radius: 50%;
    padding: 2%;
}

.ganador {
    color: rgb(55, 235, 11);
    font-size: 25px;
}

.perdedor {
    color: rgb(241, 12, 12);
    font-size: 25px;

}

.empate {
    color: rgb(251, 247, 250);
    font-size: 25px;

}
.detener{
    width: 100px;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    padding: 2%;
}
.detener img {
    width: 100px;
}
.detener:hover {
    background-color: rgb(6, 118, 133);
    cursor: pointer;
    border-radius: 20%;
    padding: 2%;
}